Sebuah perusahaan ingin menerapkan strategi pemasaran yang baru, karenanya perlu melakukan klasifikasi customer untuk mengetahui strategi pemasaran seperti apa yang paling tepat.

In [1]:
b#import library
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

# menghilangkan warning
import warnings
warnings.filterwarnings('ignore')

In [1]:
# membaca dataset
data = pd.read_csv('customer.csv')
data

NameError: name 'pd' is not defined

### Data Understanding

In [3]:
# menampilkan 5 data paling atas
data.head()

,region,tenure,age,income,marital,address,ed,employ,retire,gender,reside,custcat
0,2,13,44,64,1,9,4,5,0,0,2,A
1,3,11,33,136,1,7,5,5,0,0,6,D
2,3,68,52,116,1,24,1,29,0,1,2,C
3,2,33,33,33,0,12,2,0,0,1,1,A
4,2,23,30,30,1,9,1,2,0,0,4,C

In [4]:
# menampilkan shape data (dimana data terdiri dari 1000 baris dan 12 kolom)
data.shape

(1000, 12)

In [5]:
# menampilkan kolom yang ada pada data
data.columns

Index(['region', 'tenure', 'age', 'income', 'marital', 'address', 'ed',
       'employ', 'retire', 'gender', 'reside', 'custcat'],
      dtype='object')

In [6]:
data.nunique()

region       3
tenure      72
age         60
income     218
marital      2
address     50
ed           5
employ      46
retire       2
gender       2
reside       8
custcat      4
dtype: int64

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 12 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   region   1000 non-null   int64
 1   tenure   1000 non-null   int64
 2   age      1000 non-null   int64
 3   income   1000 non-null   int64
 4   marital  1000 non-null   int64
 5   address  1000 non-null   int64
 6   ed       1000 non-null   int64
 7   employ   1000 non-null   int64
 8   retire   1000 non-null   int64
 9   gender   1000 non-null   int64
 10  reside   1000 non-null   int64
 11  custcat  1000 non-null   object
dtypes: int64(11), object(1)
memory usage: 93.9+ KB

dari info di atas bisa disimpulkan bahwa semua data merupakan data numerik, kecuali custcat yang menjadi data target. karenanya tidak perlu mengubah data kategorikal menjadi nurmerikal.

In [8]:
# menampilkan deskripsi statistik data
data.describe()

,region,tenure,age,income,marital,address,ed,employ,retire,gender,reside
count,1000.0000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000
mean,2.0220,35.526000,41.684000,77.535000,0.495000,11.551000,2.671000,10.987000,0.047000,0.517000,2.331000
std,0.8162,21.359812,12.558816,107.044165,0.500225,10.086681,1.222397,10.082087,0.211745,0.499961,1.435793
min,1.0000,1.000000,18.000000,9.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000
25%,1.0000,17.000000,32.000000,29.000000,0.000000,3.000000,2.000000,3.000000,0.000000,0.000000,1.000000
50%,2.0000,34.000000,40.000000,47.000000,0.000000,9.000000,3.000000,8.000000,0.000000,1.000000,2.000000
75%,3.0000,54.000000,51.000000,83.000000,1.000000,18.000000,4.000000,17.000000,0.000000,1.000000,3.000000
max,3.0000,72.000000,77.000000,1668.000000,1.000000,55.000000,5.000000,47.000000,1.000000,1.000000,8.000000

In [9]:
# Periksa jumlah contoh milik masing-masing kelas

data['custcat'].value_counts()

custcat
C    281
A    266
D    236
B    217
Name: count, dtype: int64

In [10]:
#menampilkan jumlah data yang kosong
data.isnull().sum()

region     0
tenure     0
age        0
income     0
marital    0
address    0
ed         0
employ     0
retire     0
gender     0
reside     0
custcat    0
dtype: int64

pada data di atas, karena tidak terdapat missing value maka akan dilanjutkan untuk proses analisis selanjutnya

In [11]:
# membagi data menjadi X dan Y (data target)
x=data.drop(['custcat'],axis=1)
y=data['custcat']

In [12]:
# membagi data menjadi data test dan data traing
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)

### Machine Learning Modeling

In [13]:
# Menggunakan Regresi Logistik
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, classification_report
from sklearn.model_selection import train_test_split

In [14]:
# pemodelan
model_logreg = LogisticRegression()

In [15]:
model_logreg.fit(x_train,y_train)

LogisticRegression()

In [16]:
# Evaluasi Model Regresi Logistik
model_logreg_predict = model_logreg.predict(x_test)
model_logreg_accuracy = accuracy_score(y_test, model_logreg_predict)

In [17]:
print("Logistic Regression Accuracy:", model_logreg_accuracy)

Logistic Regression Accuracy: 0.44

In [18]:
print('Accuracy prediksi dengan menggunakan model Regresi Logistik adalah : ', model_logreg_accuracy)

Accuracy prediksi dengan menggunakan model Regresi Logistik adalah :  0.44

In [19]:
# Menggunakan Algoritma Random Forest
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, classification_report
from sklearn.model_selection import train_test_split

In [20]:
model_random_forest = RandomForestClassifier()

In [21]:
model_random_forest.fit(x_train,y_train)

RandomForestClassifier()

In [22]:
# Evaluasi Model Random Forest
model_random_forest_predict = model_random_forest.predict(x_test)
model_random_forest_accuracy = accuracy_score(y_test, model_random_forest_predict)

In [23]:
print("Random Forest Accuracy:", model_random_forest_accuracy)

Random Forest Accuracy: 0.38

In [24]:
print('Accuracy prediksi dengan menggunakan model Random Forest adalah : ', model_random_forest_accuracy)

Accuracy prediksi dengan menggunakan model Random Forest adalah :  0.38